body{
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;  
}

iframe{
    border-style: none;
    width: 100%;
    height: 100%;
}

p{
    color: white; 
}

ul{
    list-style: none;
    padding-left: 0px;
}

.container{
    display: grid;
    grid-template-areas: "headerC headerC"
                         "sideC mainC"
                         "footerC footerC";    

    grid-template-rows: 100px auto 50px;
    grid-template-columns: 170px auto;
    
    grid-gap: 10px; 
    height: calc(100vh - 20px);   
}

.headerC{
    grid-area: headerC;

    display: flex;
    align-items: center;
    justify-content: center;     
    
    font-size: 50px; 
    color: black;

    background: linear-gradient(to left, rgba(255,0,0,0), rgba(4, 0, 255, 0.589));
    border-radius: 7px;  
}

.sideC{
    grid-area: sideC;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 7px;  
    background-color: rgba(4, 0, 255, 0.589);
}

.mainC{
    grid-area: mainC;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 7px;  
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(4, 0, 255, 0.589));
}

.footerC{
    grid-area: footerC;

    display: flex;
    align-items: center;
    justify-content: center;    
    
    border-radius: 7px;    
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(4, 0, 255, 0.589));
}